<!--<div class="top-nav">
	<ul>
		<li><a [routerLink]="['/home']">Home</a></li>
		<li><a [routerLink]="['/about']">About</a></li>
		<li><a [routerLink]="['/staff']">Staff</a></li>
		<li><a [routerLink]="['/service']">Services</a></li>
		<li><a [routerLink]="['/contact']">Contact</a></li>
	</ul>
</div>
-->


<ul class="nav navbar-nav">
	<li><a [routerLink]="['/home']" class="hvr-bounce-to-bottom">Home</a></li>
	<li><a [routerLink]="['/service']" class="hvr-bounce-to-bottom">Services</a></li>
	<li><a [routerLink]="['/about']" class="hvr-bounce-to-bottom">Portfolio</a></li>
	<!--<li><a href="short-codes.html" class="hvr-bounce-to-bottom">Short Codes</a></li>-->
	<li><a [routerLink]="['/contact']" class="hvr-bounce-to-bottom">Mail Us</a></li>
</ul>